<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Budgets</key>
	<dict>
		<key>btMultiplier</key>
		<integer>1</integer>
		<key>budgetBase</key>
		<integer>1073741900</integer>
		<key>cellMultiplier</key>
		<integer>100</integer>
		<key>com.apple.coreduet.budget.energy</key>
		<dict>
			<key>budgetAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.energyBG</key>
				<integer>100</integer>
				<key>com.apple.coreduet.budget.energyUnbudget</key>
				<integer>5000</integer>
				<key>com.apple.coreduet.budget.ignore</key>
				<integer>100</integer>
			</dict>
			<key>budgetIDAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.energyBG</key>
				<integer>1073741825</integer>
				<key>com.apple.coreduet.budget.energyUnbudget</key>
				<integer>1073741824</integer>
				<key>com.apple.coreduet.budget.ignore</key>
				<integer>1073741835</integer>
			</dict>
			<key>budgetTypes</key>
			<dict>
				<key>com.apple.coreduet.budget.energyBG</key>
				<integer>0</integer>
				<key>com.apple.coreduet.budget.energyUnbudget</key>
				<integer>5</integer>
				<key>com.apple.coreduet.budget.ignore</key>
				<integer>6</integer>
			</dict>
			<key>clientAssignment</key>
			<array>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyBG</string>
				<string>com.apple.coreduet.budget.energyUnbudget</string>
				<string>com.apple.coreduet.budget.energyBG</string>
			</array>
			<key>default</key>
			<string>com.apple.coreduet.budget.energyUnbudget</string>
		</dict>
		<key>com.apple.coreduet.budget.network</key>
		<dict>
			<key>budgetAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.networkDownload</key>
				<integer>50000000</integer>
				<key>com.apple.coreduet.budget.networkFP</key>
				<integer>6500000</integer>
				<key>com.apple.coreduet.budget.networkUnbudget</key>
				<integer>10000000000</integer>
			</dict>
			<key>budgetIDAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.networkDownload</key>
				<integer>1073741828</integer>
				<key>com.apple.coreduet.budget.networkFP</key>
				<integer>1073741827</integer>
				<key>com.apple.coreduet.budget.networkUnbudget</key>
				<integer>1073741826</integer>
			</dict>
			<key>budgetTypes</key>
			<dict>
				<key>com.apple.coreduet.budget.networkDownload</key>
				<integer>0</integer>
				<key>com.apple.coreduet.budget.networkFP</key>
				<integer>0</integer>
				<key>com.apple.coreduet.budget.networkUnbudget</key>
				<integer>5</integer>
			</dict>
			<key>clientAssignment</key>
			<array>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkFP</string>
				<string>com.apple.coreduet.budget.networkFP</string>
				<string>com.apple.coreduet.budget.networkFP</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkDownload</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkUnbudget</string>
				<string>com.apple.coreduet.budget.networkFP</string>
			</array>
			<key>default</key>
			<string>com.apple.coreduet.budget.networkUnbudget</string>
		</dict>
		<key>com.apple.coreduet.budget.ratelimit.high</key>
		<dict>
			<key>budgetAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitUnbudget</key>
				<integer>5000000000</integer>
			</dict>
			<key>budgetIDAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitUnbudget</key>
				<integer>1073741832</integer>
			</dict>
			<key>budgetTypes</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitUnbudget</key>
				<integer>0</integer>
			</dict>
			<key>clientAssignment</key>
			<array/>
			<key>default</key>
			<string>com.apple.coreduet.budget.ratelimitUnbudget</string>
		</dict>
		<key>com.apple.coreduet.budget.ratelimit.low</key>
		<dict>
			<key>budgetAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitLow</key>
				<integer>1000000</integer>
				<key>com.apple.coreduet.budget.ratelimitLowUnbudget</key>
				<integer>100000</integer>
			</dict>
			<key>budgetIDAssignment</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitLow</key>
				<integer>1073741829</integer>
				<key>com.apple.coreduet.budget.ratelimitLowUnbudget</key>
				<integer>1073741830</integer>
			</dict>
			<key>budgetTypes</key>
			<dict>
				<key>com.apple.coreduet.budget.ratelimitLow</key>
				<integer>0</integer>
				<key>com.apple.coreduet.budget.ratelimitLowUnbudget</key>
				<integer>5</integer>
			</dict>
			<key>clientAssignment</key>
			<array>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
				<string>com.apple.coreduet.budget.ratelimitLow</string>
			</array>
			<key>default</key>
			<string>com.apple.coreduet.budget.ratelimitLow</string>
		</dict>
		<key>wifiMultiplier</key>
		<integer>0</integer>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CDDCommExclusiveApps</key>
	<array>
		<string>com.apple.private.PhoneCarouselAlert</string>
		<string>com.apple.NanoCamera</string>
		<string>com.apple.Siri</string>
		<string>com.apple.NanoHome</string>
	</array>
	<key>CDDCommFocalAppDefaultNoThrottle</key>
	<array>
		<string>com.apple.Bridge</string>
		<string>com.apple.Fitness</string>
		<string>com.apple.Health</string>
		<string>com.apple.Passbook</string>
		<string>com.apple.Preferences</string>
		<string>com.apple.PassbookUIService</string>
	</array>
	<key>CDDCommFocalAppWhitelist</key>
	<array>
		<string>com.apple.Fitness</string>
		<string>com.apple.Bridge</string>
		<string>com.apple.Health</string>
		<string>com.apple.Passbook</string>
		<string>com.apple.Preferences</string>
		<string>com.apple.PassbookUIService</string>
	</array>
	<key>CDDCommNonTrafficBundleID</key>
	<array>
		<string>com.apple.private.PhoneCarouselAlert</string>
	</array>
	<key>CDDForegroundGroup</key>
	<dict>
		<key>com.apple.Siri</key>
		<array>
			<string>com.apple.NanoMusic</string>
			<string>com.apple.NanoMaps</string>
			<string>com.apple.MobileSMS</string>
		</array>
	</dict>
	<key>CDDViewServiceForegroundWhitelist</key>
	<array>
		<string>com.apple.PassbookUIService</string>
		<string>com.apple.SiriViewService</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreDuetDaemonConfig</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.CoreDuetDaemonConfig</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreDuetDaemonConfig</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CoreDuetDaemonConfigKeyString</key>
	<dict>
		<key>CDDAdmissionAlwaysYes</key>
		<false/>
		<key>CDDAdmissionCheckLoggingString</key>
		<false/>
		<key>CDDAdmissionReleaseThreshold</key>
		<integer>86400</integer>
		<key>CDDBatteryMonitorExchangeBattDeltaString</key>
		<integer>5</integer>
		<key>CDDBatteryMonitorExchangeTimerDeltaString</key>
		<integer>900</integer>
		<key>CDDCBlockCacheAssociativityString</key>
		<integer>2</integer>
		<key>CDDCBlockGranularityString</key>
		<integer>3600</integer>
		<key>CDDCCoalescingEventLimitString</key>
		<integer>1</integer>
		<key>CDDCCoalescingTimerLeewayString</key>
		<integer>1</integer>
		<key>CDDCCoalescingTimerSecondsString</key>
		<integer>60</integer>
		<key>CDDCEnabledString</key>
		<true/>
		<key>CDDCMaxSendAttemptsString</key>
		<integer>1</integer>
		<key>CDDCMinClientGranularityString</key>
		<integer>900</integer>
		<key>CDDCRetryTimerLongSecondsString</key>
		<integer>3600</integer>
		<key>CDDCRetryTimerShortSecondsString</key>
		<integer>30</integer>
		<key>CDDCSyncBoundarySecondsString</key>
		<integer>86400</integer>
		<key>CDDCSyncDeltaString</key>
		<integer>7200</integer>
		<key>CDDCSyncLeewayString</key>
		<integer>3600</integer>
		<key>CDDCSyncPerBoundaryString</key>
		<integer>2</integer>
		<key>CDDCSyncPeriodTimerLeewayString</key>
		<integer>60</integer>
		<key>CDDCSyncReceiveString</key>
		<integer>120</integer>
		<key>CDDClientBundles</key>
		<dict>
			<key>1</key>
			<array>
				<string>com.apple.mobilemail</string>
			</array>
			<key>25</key>
			<array>
				<string>searchd</string>
			</array>
			<key>27</key>
			<array>
				<string>itunesstored</string>
				<string>nsurlsessiond</string>
				<string>mobileassetd</string>
				<string>softwareupdateservicesd</string>
			</array>
			<key>3</key>
			<array>
				<string>nsurlsessiond</string>
				<string>com.apple.mobileslideshow</string>
				<string>cloudphotod</string>
				<string>assetsd</string>
				<string>cloudd</string>
			</array>
			<key>30</key>
			<array>
				<string>nsurlsessiond</string>
				<string>mobileassetd</string>
				<string>itunesstored</string>
				<string>softwareupdateservicesd</string>
			</array>
			<key>32</key>
			<array>
				<string>ubd</string>
			</array>
			<key>35</key>
			<array>
				<string>nsurlsessiond</string>
				<string>com.apple.mobileslideshow</string>
				<string>cloudphotod</string>
				<string>assetsd</string>
			</array>
			<key>37</key>
			<array>
				<string>suggestd</string>
			</array>
			<key>4</key>
			<array>
				<string>nsurlsessiond</string>
				<string>cloudd</string>
				<string>bird</string>
			</array>
			<key>45</key>
			<array>
				<string>nsurlsessiond</string>
				<string>itunesstored</string>
				<string>installd</string>
				<string>StreamingUnzipService</string>
				<string>containermanagerd</string>
				<string>atc</string>
			</array>
			<key>46</key>
			<array>
				<string>OTACrashCopier</string>
			</array>
			<key>9</key>
			<array>
				<string>nsurlsessiond</string>
			</array>
			<key>OSX</key>
			<dict>
				<key>3</key>
				<array>
					<string>nsurlsessiond</string>
					<string>com.apple.Photos</string>
					<string>cloudphotosd</string>
					<string>photolibraryd</string>
					<string>cloudd</string>
				</array>
			</dict>
		</dict>
		<key>CDDCullingTimerLeewaysSecondsKeyString</key>
		<integer>3600</integer>
		<key>CDDCullingTimerPeriodSecondsKeyString</key>
		<integer>86400</integer>
		<key>CDDMaxDatabaseEntrySecondsKeyString</key>
		<integer>2419200</integer>
		<key>CDDMaxQueryCacheItemsKeyString</key>
		<integer>8</integer>
		<key>CDDMaxQueryCacheLeewaySecondsKeyString</key>
		<integer>60</integer>
		<key>CDDMinBatteryDeltaKeyString</key>
		<real>0.10000000000000001</real>
		<key>CDDModulationMinimumHistory</key>
		<integer>432000</integer>
		<key>CDDTrendingCDeltaKeyString</key>
		<integer>1</integer>
		<key>CDDTrendingCEpsilonKeyString</key>
		<integer>0</integer>
		<key>CDDTrendingCHighThresholdKeyString</key>
		<integer>3</integer>
		<key>CDDTrendingCLowThresholdKeyString</key>
		<integer>2</integer>
		<key>CDDTrendingCMaxKeyString</key>
		<integer>3</integer>
		<key>CDDTrendingCMinKeyString</key>
		<integer>0</integer>
		<key>CDDTrendingEidStringLengthKeyString</key>
		<integer>65</integer>
		<key>CDDTrendingIecMinKeyString</key>
		<integer>0</integer>
		<key>CDDTrendingIlcMaxKeyString</key>
		<integer>900</integer>
		<key>CDDTrendingTableSlotsKeyString</key>
		<integer>3</integer>
		<key>CDDTrendingTimerIlcAvgMultKeyString</key>
		<integer>1</integer>
		<key>CDDTrendingTimerIlcDecayMultKeyString</key>
		<integer>1</integer>
		<key>CDDTrendingTimerIlcDivKeyString</key>
		<integer>4</integer>
		<key>CDDTrendingTimerIlcMinMultKeyString</key>
		<integer>3</integer>
		<key>CDDTrendingTimerLeewaySecondsKeyString</key>
		<integer>1</integer>
		<key>CDDTrendingTimerMinKeyString</key>
		<integer>30</integer>
		<key>CDDVerboseKeyString</key>
		<false/>
		<key>CDDWatchkitBudgetPerPeriod</key>
		<integer>25</integer>
		<key>CDDWatchkitGraceTime</key>
		<integer>30</integer>
		<key>CDDWatchkitPeriodSeconds</key>
		<integer>86400</integer>
		<key>CDDWatchkitRecentInterval</key>
		<integer>120</integer>
		<key>CDDWriteRecordModuloKeyString</key>
		<integer>1</integer>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10L213p</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18D21a</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10L213p</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>RemoteBudgets</key>
	<dict>
		<key>SystemBudgetsToCheck</key>
		<dict>
			<key>9</key>
			<array>
				<integer>1073741828</integer>
			</array>
		</dict>
		<key>SystemBudgetsToPush</key>
		<array>
			<integer>1073741828</integer>
		</array>
	</dict>
</dict>
</plist>
