<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		uYpMhbgYryr/Vf0Cgn7rkWma727U5qNP4o7+DeSCWAgdGCMUUyk8J7RQirM2
		OQUU
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		SAr+49bnEgO7VbxoK+GeaARBhhvzP6HSfQ/GF1Utcmxhe6Mvh80JKhEUu1xm
		Lu6m
		</data>
	</dict>
</dict>
</plist>
