<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		g0nQAGUtSOcmmHvlXNyTSj6Eukd7AAMAGqnZybt+r5l1fmB8agAoPKksOKtc
		6mMA
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		rJfTIgVvpi02TDMsHXTgOAQiFbYJLGx4rZqIKajAyDH6yzwBBnP1SbC3kzHI
		PGiy
		</data>
	</dict>
</dict>
</plist>
