<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		c2hQoWeUiz7G6Hpuesi9fSHmERJv4O/283V4Mnde6c8i7l8CdGURmZOBRAHI
		9dN9
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		h6DLHQsC6TDcoXDOocr4yDztfA8UvtXIVGcO9zmKzAE4TFYcUTj+JlZm/zTf
		OJZe
		</data>
	</dict>
</dict>
</plist>
