<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GlobalConfiguration</key>
    <dict>
        <key>ExcludedApps</key>
        <array>
	    <string>kernel_task</string>
            <string>hidd</string>
	    <string>WindowServer</string>
	    <string>launchd</string>
	    <string>Dock</string>
	    <string>thermald</string>
	    <string>coreaudiod</string>
	    <string>Spotlight</string>
	    <string>SystemUIServer</string>
        </array>
	<key>ExcludedBundleIDs</key>
	<array>
	</array>
    </dict>
</dict>
</plist>

